<div class='form-container'>
  <%= render 'form', recipe: @recipe %>

  <% if Recipe.exists?(@recipe.id) %>
    <section class='form'>
      <%= render partial: "ingredients/form", locals: {recipe: @recipe, ingredient: Ingredient.new } %>
      <ul class="ingredient-list"><%= render @ingredients %></ul>
    </section>
  <% end %>
</div>