<p id="notice"><%= notice %></p>
<div>
  <ul class='recipe-list'>
      <% @recipes.each do |recipe| %>
          <li class='recipe-list-item'><%= link_to recipe.name, recipe, class: 'recipe-name' %>
          <% if logged_in? && is_admin?(current_user) %>
          <section class='edit-menu'>
            <%= link_to image_tag('edit.png', class: 'edit'), edit_recipe_path(recipe) %>
            <%= link_to image_tag('delete.png', class: 'delete'), recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
          </section>
          </li>
          <% end %>
      <% end %>
  </ul>
</div>