<nav class='btn-container'>
  <%= link_to 'Back', :back, class: 'header-btn back-btn' %>
</nav>
<section class='title-section'>
  <%= link_to 'ChefBot', root_path, class: 'title' %>
</section>
<nav class='nav-menu'>
  <p class='header-btn menu-btn'>Menu</p>
</nav>
