<nav>
  <%= link_to image_tag('back.png', class: 'back'), 'javascript:history.back()', class: 'nav-link' %>
</nav>
<section class='title-section'>
  <%= link_to 'ChefBot', root_path, class: 'title' %>
</section>
<nav class='nav-menu'>
  <%= image_tag('hamburger.png', alt: 'menu button', class: "menu-btn nav-link") %>
</nav>
