.form-container {
  border: solid black 1px;
  border-radius: 12px;
  background-color: antiquewhite;
  padding: 1% 0;
  margin: 3% 0;
}

.form-label {
  display: inline-block;
  width: 20%;
  margin: 3%;
  font-size: 18px;
}

.form-field {
  display: inline-block;
  width: 51%;
  font-size: 18px;
}

.form-btn {
  display: block;
  margin: 5% auto;
  font-size: 18px;
}

.recipe-instructions {
  display: block;
  width: 90%;
  min-height: 200px;;
  margin: auto;
  font-size: 18px;
}

.ingredient-measure {
  width: 10%;
  margin-left: 18.5%;
  background-color: #126d61;
  color: white;
  border-radius: 8px;
}

.ingredient-list {
  display: block;
  margin: auto;
  width: 30%;
  font-size: 18px;
}

@media only screen and (min-width: 1200px) {

  .form-container {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    border: solid black 1px;
    border-radius: 12px;
    background-color: antiquewhite;
    padding: 1% 0;
  }
  .recipe-form {
    display: inline-block;
    width: 100%;
  }
  
  .ingredient-form {
    display: inline-block;
    width: 100%;
  }

  .instructions-label {
    display: inline-block;
  }
}