.form-label {
  display: inline-block;
  width: 20%;
  margin: 3%;
  font-size: 18px;
}

.form-field {
  display: inline-block;
  width: 51%;
  font-size: 18px;
}

.form-btn {
  display: block;
  margin: 5% auto;
  font-size: 18px;
}

.recipe-instructions {
  display: block;
  width: 90%;
  min-height: 200px;;
  margin: auto;
  font-size: 18px;
}

.ingredient-measure {
  width: 10%;
  margin-left: 18.5%;
}

.ingredient-list {
  display: block;
  margin: auto;
  width: 30%;
  font-size: 18px;
}

@media only screen and (min-width: 1200px) {

  .form-container {
    display: inline-block;
    width: 45%;
    vertical-align: top;
  }
  .recipe-form {
    display: inline-block;
    width: 100%;
  }
  
  .ingredient-form {
    display: inline-block;
    width: 100%;
  }

  .instructions-label {
    display: inline-block;
  }
}