.nav-link {
}

.name {
  width: 90%;
  text-align: center;
  margin: 5% auto;
}

.yield, .yield *, .scale, .scale * {
  display: inline-block;
}

.recipe-feeds {
  display: flex;
  justify-content: space-around;
}

.ingredients {
  width: 80%;
  margin: 5% auto;
}

.ingredients table {
  margin: auto;
  text-align: left;
}

.ingredients td {
}

.instructions {
  display: inline-block;
}

@media only screen and (min-width: 1200px) {

  .details {
    display: flex;
    align-items: center;
  }

  .ingredients, .instructions {
    flex: 1 1 0;
  }

  .instructions p{
  }
}