.name {
  width: 90%;
  text-align: center;
  margin: 5% auto;
  color: #126d61;
  font-family: dancing script;
  border-bottom: solid #126d61 1px; 
  padding-bottom: 5%;
}

.yield, .yield *, .scale, .scale * {
  display: inline-block;
}

.yield p:last-child {
  font-weight: bold;
}

.recipe-feeds {
  display: flex;
  justify-content: space-around;
}

.ingredients {
  width: 100%;
  margin: 5% auto;
  background-color: antiquewhite;
  border-top: solid #126d61 1px;
  border-bottom: solid #126d61 1px;
}

.instructions {
  width: 100%;
  display: inline-block;
  background-color: antiquewhite;
  border-top: solid #126d61 1px;
  border-bottom: solid #126d61 1px;
}

.ingredients table {
  margin: auto;
  text-align: left;
}

.show-menu {
  display: flex;
  justify-content: flex-end;
}

.show-edit {
  width: 25%;
}

@media only screen and (min-width: 1200px) {
  .name {
    margin: 2% auto;
    padding-bottom: 1%;
  }

  .details {
    display: flex;
    justify-content: space-evenly;
  }
  
  .ingredients, .instructions {
    flex-basis: 40%;
    align-items: center;
    margin: 0;
    border: solid #126d61 1px;
  }

  .recipe-feeds {
    justify-content: center;
  }
}