.recipe-list {
  display: block;
  width: 100%;
  padding: 0;
  border-spacing: 0px 15px;
}

.recipe-list-item {
  font-family: dancing script;
  font-size: 4em;
  width: 40%;
  background-color: antiquewhite;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

@media only screen and (min-width: 1200px) {
  .recipe-list {
    display: block;
    width: 80%;
    margin: auto;
    padding: 0;
    border-spacing: 0px 15px;
  }

  .recipe-list-item {
    font-size: 3em;
    border: solid black 1px;
  }
}