html, body {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

h2 {
  font-size: 4em;
  line-height: 1em;
}

p {
  font-family: shadows into light;
  font-size: 3em;
  line-height: 1em;
}

a {
  text-decoration: none;
  color: #126d61;
}

a:hover {
  background-color: transparent;
}

a:visited {
  color: #126d61;
}

li {
  list-style: none;
  padding: 2% 0;
} 

table {
  padding: 1%;
  width: 80%;
}

th {
  font-size: 3em;
  font-family: dancing script;
  color: #126d61;
  padding: 5%;
}

td {
  padding: 2%;
  font-size: 3em;
  font-family: shadows into light;
  line-height: 1em;
}

.btn {
  border-radius: 8px;
  background-color: #126d61;
  color: white;
  font-size: 20px;
}

.btn:active {
  background-color: #147f71;
}

.dropdown {
  background-color: #126d61;
  color: white;
  border-radius: 40px;
  font-size: 3em;
  font-family: shadows into light;
  font-weight: bold;
}

@media only screen and (min-width: 1200px) {
  h2 {
    font-size: 3em;
  }

  p, th, td, .dropdown {
    font-size: 1.5em;
  }
}